
<div class="container">
  <div id="main"></div>
</div>


<script id="flightListTemplate" type="template/html">
  <h2>Flights</h2>
  <div id="search-bar">
    Search: 
    <input type="text" id="origin" placeholder="From">
    <input type="text" id="destination" placeholder="To">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Flight No</th>
        <th>From</th>
        <th>To</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="flights">
    </tbody>
  </table>
</script>

<script id="flightListItemTemplate" type="template/html">
  <td>{{ date }}</td>
  <td>{{ name }}</td>
  <td>{{ origin }}</td>
  <td>{{ destination }}</td>
  <td><a href="app/#flights/{{ id }}">Find Seats</a></td>
</script>


<script id="seatListTemplate" type="template/html">
<h2>Choose Your Seat:</h2>
<div class="row">
<div class="col-sm-6">
<table id="plane">
  <thead id="seat-nums"></thead>
  <tbody id="seat-aisles"></tbody>
</table>
</div>
<div class="col-sm-4">
<table class="table">
<tr><th>Flight</th><td></td></tr
<tr><th>Date</th><td></td></tr>
<tr><th>From</th><td></td></tr>
<tr><th>To</th><td></td></tr>
</table>
</div>
<div class="col-sm-2"></div>
</script>


<!-- added the javascript code here so that the scripts are only loaded when backbone app is being used - Basically providing scope  -->
<%= javascript_include_tag 'application' %>

