<h1>App#index</h1>
<p>Find me in app/views/app/index.html.erb</p>


<div id="main"></div>



<script id="flightListTemplate" type="template/html">
  <h2>Flights</h2>
  <div id="search-bar">
    Search: 
    <input type="text" id="origin" placeholder="From">
    <input type="text" id="destination" placeholder="To">
  </div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Flight No</th>
        <th>From</th>
        <th>To</th>
        <th>Plane</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="flights">
    </tbody>
  </table>
</script>

<script id="flightListItemTemplate" type="template/html">
  <td>{{ date }}</td>
  <td>{{ name }}</td>
  <td>{{ origin }}</td>
  <td>{{ destination }}</td>
  <td>{{ plane_id.name }}</td>
  <td><a href="/#app/flights/{{ id }}">Find Seats</a></td>
</script>


<script id="seatListTemplate" type="template/html">
<h2>Seating</h2>
<table>
  <thead id="seat-nums"></thead>
  <tbody id="seat-aisles"></tbody>
</table>
</script>



